@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 300;
    src: url(https://fonts.gstatic.com/s/montserrat/v15/JTUPjIg1_i6t8kCHKm459WxZYgzz_PZ1.ttf) format('truetype');
}
@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/montserrat/v15/JTUQjIg1_i6t8kCHKm459WxRyS7j.ttf) format('truetype');
}
@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 600;
    src: url(https://fonts.gstatic.com/s/montserrat/v15/JTUPjIg1_i6t8kCHKm459WxZFgrz_PZ1.ttf) format('truetype');
}
@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/montserrat/v15/JTUPjIg1_i6t8kCHKm459WxZcgvz_PZ1.ttf) format('truetype');
}
@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 900;
    src: url(https://fonts.gstatic.com/s/montserrat/v15/JTUPjIg1_i6t8kCHKm459WxZSgnz_PZ1.ttf) format('truetype');
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_cJD3gnD-w.ttf) format('truetype');
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/montserrat/v15/JTUSjIg1_i6t8kCHKm459Wlhzg.ttf) format('truetype');
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_bZF3gnD-w.ttf) format('truetype');
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_dJE3gnD-w.ttf) format('truetype');
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_epG3gnD-w.ttf) format('truetype');
}
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    src: url(https://fonts.gstatic.com/s/roboto/v20/KFOjCnqEu92Fr1Mu51TjASc6CsE.ttf) format('truetype');
}
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/roboto/v20/KFOkCnqEu92Fr1Mu51xIIzc.ttf) format('truetype');
}
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/roboto/v20/KFOjCnqEu92Fr1Mu51TzBic6CsE.ttf) format('truetype');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fBBc9.ttf) format('truetype');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfBBc9.ttf) format('truetype');
}
@font-face {
    font-family: 'Ubuntu Mono';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/ubuntumono/v10/KFOjCneDtsqEr0keqCMhbCc6CsE.ttf) format('truetype');
}
@font-face {
    font-family: 'Ubuntu Mono';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/ubuntumono/v10/KFO-CneDtsqEr0keqCMhbC-BL9H1tYg.ttf) format('truetype');
}
@font-face
{
    src: url("/montserrat/Montserrat-Bold.otf"); 
    font-family: 'Montserrat-Bold';
}
*
{
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
}
body {
    
    font-weight: 400;
    line-height: 1.5;
    color: rgba(24,0,39,.87);
    text-align: left;
    font-family: Roboto, sans-serif;
    overflow-x: hidden;
}

li{
    list-style: none;

}
a{
    text-decoration: none;

}
section
{
    padding:100px 0;
}

header
{
    background-color:#d92950;
    position: fixed;
    width: 100%;
    z-index: 99999;
    margin-top: 0;
    top: 0;
}
.navbar
{
    background-color: #d92950;
display: flex;
align-items: center;
justify-content: space-between;
}
.navbar-logo
{
    display: inline-block;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-left: 1rem;
    font-size: 1.25rem;

}
.navbar-logo img
{
    width: 80px;
    height: 46px;
    max-width: 100%;
    background: no-repeat 50%/50% 50%;

}
.menu-content
{
    display: flex;

}
.navbar .nav-item
{
    margin: 0 30px 0 0;
}
.navbar .nav-item .nav-link
{
    transition: all 0.3s linear;
    font-size: 1rem;
    color: #fff;
    font-weight: 600;
    padding: 0;
    margin: 0 .5rem;
   border-bottom: 2px solid transparent;
    border-radius: 2px;
}
#sec1
{

    margin-top: 50px;
    padding-bottom: 20vh;
    background: url("images/hero-background.jpg") top no-repeat ;
    background-size: cover;
    margin-right:-15px;

 
 
}
.general
{
    max-width: 1200px;
}

.row1
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.full-width
{
    max-width: 100%;
}
.general .row1 h1
{
    font-size: 5.5vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    text-align: center;
    color: #fff;
}



/*pour tous les elements qui doivent etre en ligne*/
.ligne
{
    display: flex;
    flex-direction: row; 
}

#dev
{
    color: #ffe64d;
    text-transform: uppercase;
}
/*traitement pour les boutons en dessous du titre h1*/ 

.general ul 
{
    list-style: none;
    text-transform: uppercase;
}

.btn{
    margin-top: 50px;
}
 .hero-btn
{
    
    padding: 15px 25px;
    background-color: #FFFFFF;
    border-radius: 15px;
    font-size: 1.2rem;
    font-family: Roboto, sans-serif;
    text-decoration: none;
    color: #d92950;
    font-weight:700;
    border:  2px solid white;
    text-transform: uppercase;
    margin-left: 20px;
}




.hero-btn:hover
{
    color:#FFFFFF;
    background-color:rgba(216, 0,71, 0);
}
#besoin
{
    color: white;
    text-align: center;
    margin-top: 40px;
  

}
/*logo en bas de la premiere section*/
#logo{
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin-top : 3.2%;
}
#logo img{
    width: 55px;
    opacity: 0.5;
}
/*ici commence le debut de la deuxieme section avec general1 comme classe*/
.general1
{
    display: flex;
    height: 80vh;
    width: 100vw;
    
}
#col
{
    background-color: #f1f0f3;
    width: 100vw;
}
.traiteimg
{
margin-top: 2px;
width: 33%;
}

#image1
{
width: 500px; 
border-radius: 0px 20px   20px 0px ;
margin-left: -15%;
z-index:1;
}

#image2
{
    margin-left: 195px;
    margin-top: -200px;
    width: 330px;
    border-radius: 20px;
    z-index: 2;
}

.bloc2
{
    width: 60%;
    margin-left: 120px;


}
.illustration
{
margin-top: 8%;
justify-content: space-between;
display: flex; 
flex-direction: column;

}
.illustration1, .illustration2
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    width: 80%;
    margin: auto;


}


.coco
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    font-family: 'Montserrat-Bold', sans-serif;
    font-weight: bold;
    color: #424345;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    
}

h5
{
    font-size: 40px;
    font-weight: bold;
    font-family: 'Montserrat-Bold', sans-serif;
    padding-top:10px ;
    font-weight: bold;
    color: #424345;
    padding-right: -40px;
    line-height: 1.2;
    font-size: 2.6rem;
}

#cadran1, #cadran2, #cadran3, #cadran4
{
    height: 100px;
    width: 50px;
    border-bottom:#d92950 2px solid;

}
#partenaire
{
height: 80vh;
width: 100vw;


}
#pat
{
    background-color:#d92950;
    height: 85vh;
    width: 100vw;
    display: flex;
justify-content: center;
   

}
#titrepat
{
    width: 100%;
    height: 20%;
    font: 40px;
    line-height: 58px;
    font-weight: 700;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 27px;
    padding-top:50px ;
    text-align:center;

  
    

}
#logopartenaire
{
    width:100%;
    height: 40%;
    margin-top:5% ;
    overflow: hidden;
   


}
#log
{
width: 100%;
height: 60%;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-around;




}
.imred
{
    width: 90px;

}
#sec4
{
    height: 95vh;
    width: 100vw;
    background-color: #f1f0f3;
    display: flex;
    flex-direction: column;
    align-items: center;

}
#titpro
{
    color: #180027de;
    font-family:   'Montserrat', sans-serif;
    text-align: center;
    padding-top: 10px;
    font-size: 27px;

}
#reaint
{
    width: 96vw;
    height: 60vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-top: 40px;

}
#rea
{
    margin-left: 30px;
    border-top: yellow 10px solid;
}
#int
{
    margin-right:30px;
    border-top: solid 10px #d92950 ;
}
.reaint
{
    background-color: #FFFFFF;
    width: 45%;
    height: 90%;
    font-family: 'Montserrat', sans-serif;
    color: #180027de;
    border-radius: 0px 0px 30px  30px;


}
.h3classe
{
padding-top:50px ;
font-weight: bold;
color:#d92950;
font-size: 27px;
font-family: 'Montserrat', sans-serif;
text-align: center;
}
.pclasse
{
text-align: center;
padding-top: 20px ;
height: auto;

}
.btn22
{
    margin-top: 40px;
    text-align: center;


}
.btn2
{
    background-color: #d92950;
    border-radius: 15px;
    font-size: 1.3rem;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color:#FFFFFF;
    font-weight:800;
    border:  2px solid  #d92950;
    text-transform: uppercase;
    padding: 15px 25px;
    width: 60px;

}       
.btn2:hover
{
    color:#d92950;
    background-color: white;
}
#sec5
{
    height: 150vh;
    width: 100vw;
    background-color: #d92950;
}
#tite5
{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 40px;
    color: #FFFFFF;
}


#realisation
{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    border: 1px solid black;



}
.realisation123
{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 25%; 
    border: 1px solid black;
    

}
.images123
{
    width: 100%;
    height: auto;
    border-radius: 15px;
    border: 1px solid black;

}
.designation
{
    display: flex;
    flex-direction: column;
    height: 20%;
    width: auto;
    border: 1px solid black;
}
.site
{
    display: flex;
    border: 1px solid black;
    justify-content: space-between;
    
}
.drapeauetpays
{
margin-left: 25px;
display: flex;
flex-direction: row;
width: 100px;
height: 30px;
border: 1px solid black;
border-radius: 30px 0 0 30px;
margin-top: 2px;
background-color: #FFFFFF;


}
.designationparagraphe
{
    font-size: 10px;
    color: #FFFFFF;
    
}
.drapeau
{
    background-image:url('images/about/congo.png');
    background-repeat: no-repeat;
    background-size: 30px 30px;
    border-radius: 30px 0 0 30px;
    width: 60px;
    
    

}
.pays123
{
    margin-top: 4px;
    text-align: center;
    width: 60px;
}

.reactima
{
    width: 20px;
    border: solid 1px black;
    margin-top: 13px;
    
}
.reactatif
{
    font-size: 12px;
    color: #FFFFFF;
    background-color:#ed0058;   
}
.siteclass
{
    color: #FFFFFF;
}

.drapeau2
{
    background-image:url('images/about/flag-round-250.png');
    background-repeat: no-repeat;
    background-size: 30px 30px;
    border-radius: 30px 0 0 30px;
    width: 60px; 
}



































#sec6
{
    background-color:#FFFFFF;
    height: 100vh;
    width: 100vw;
}
#sec6general
{
display: flex;
flex-direction: row;
justify-content: space-around;
}
#sec6general1
{
    background-color: #f1f0f3;
    width:40%;
    height: 50%;
    


}
#tite6
{
    color: #424345;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 40px;
}
#sec6h3
{
    background-color: #d92950;
    height: 70px;
    border: 2px solid black;
    padding-top: 10px;
    padding-left: 10px;
    font-size: 30px;
}
#representation
{
    display: flex;
    flex-direction: column;
}
.img30
{
display: flex;
flex-direction: row;
}

.img6
{
 width: 40px;
 color: black;
}