@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 300;
    src: url(https://fonts.gstatic.com/s/montserrat/v15/JTUPjIg1_i6t8kCHKm459WxZYgzz_PZ1.ttf) format('truetype');
}
@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/montserrat/v15/JTUQjIg1_i6t8kCHKm459WxRyS7j.ttf) format('truetype');
}
@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 600;
    src: url(https://fonts.gstatic.com/s/montserrat/v15/JTUPjIg1_i6t8kCHKm459WxZFgrz_PZ1.ttf) format('truetype');
}
@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/montserrat/v15/JTUPjIg1_i6t8kCHKm459WxZcgvz_PZ1.ttf) format('truetype');
}
@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 900;
    src: url(https://fonts.gstatic.com/s/montserrat/v15/JTUPjIg1_i6t8kCHKm459WxZSgnz_PZ1.ttf) format('truetype');
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_cJD3gnD-w.ttf) format('truetype');
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/montserrat/v15/JTUSjIg1_i6t8kCHKm459Wlhzg.ttf) format('truetype');
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_bZF3gnD-w.ttf) format('truetype');
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_dJE3gnD-w.ttf) format('truetype');
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_epG3gnD-w.ttf) format('truetype');
}
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    src: url(https://fonts.gstatic.com/s/roboto/v20/KFOjCnqEu92Fr1Mu51TjASc6CsE.ttf) format('truetype');
}
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/roboto/v20/KFOkCnqEu92Fr1Mu51xIIzc.ttf) format('truetype');
}
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/roboto/v20/KFOjCnqEu92Fr1Mu51TzBic6CsE.ttf) format('truetype');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fBBc9.ttf) format('truetype');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfBBc9.ttf) format('truetype');
}
@font-face {
    font-family: 'Ubuntu Mono';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/ubuntumono/v10/KFOjCneDtsqEr0keqCMhbCc6CsE.ttf) format('truetype');
}
@font-face {
    font-family: 'Ubuntu Mono';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/ubuntumono/v10/KFO-CneDtsqEr0keqCMhbC-BL9H1tYg.ttf) format('truetype');
}
@font-face
{
    src: url("/montserrat/Montserrat-Bold.otf"); 
    font-family: 'Montserrat-Bold';
}
*
{
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
}
body {
    
    font-weight: 400;
    line-height: 1.5;
    color: #424345;
    text-align: left;
    overflow-x: hidden;
}

.menu-content
{
    list-style: none;
}

a{
    text-decoration: none;

}
section
{
    padding:100px 0;
}

header
{
    background-color:#d92950;
    position: fixed;
    width: 100%;
    z-index: 99999;
    margin-top: 0;
    top: 0;
}
.navbar
{
    background-color: #d92950;
display: flex;
align-items: center;
justify-content: space-between;
}
.navbar-logo
{
    display: inline-block;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-left: 1rem;
    font-size: 1.25rem;

}
.navbar-logo img
{
    width: 80px;
    height: 46px;
    max-width: 100%;
    background: no-repeat 50%/50% 50%;

}
.menu-content
{
    display: flex;

}
.navbar .nav-item
{
    margin: 0 30px 0 0;
}
.navbar .nav-item .nav-link
{
    transition: all 0.3s linear;
    font-size: 1rem;
    color: #fff;
    font-weight: 600;
    padding: 0;
    margin: 0 .5rem;
   border-bottom: 2px solid transparent;
    border-radius: 2px;
}
#sec1
{

    margin-top: 50px;
    padding-bottom: 20vh;
    background: url("images/hero-background.jpg") top no-repeat ;
    background-size: cover;
    margin-right:-15px;

 
 
}
.general
{
    max-width: 1200px;
}

.row1
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.full-width
{
    max-width: 100%;
}
.general .row1 h1
{
    font-size: 5.5vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    text-align: center;
    color: #fff;
}



/*pour tous les elements qui doivent etre en ligne*/
.ligne
{
    display: flex;
    flex-direction: row; 
}

#dev
{
    color: #ffe64d;
    text-transform: uppercase;
}
/*traitement pour les boutons en dessous du titre h1*/ 

.general ul 
{
    list-style: none;
    text-transform: uppercase;
}

.btn{
    margin-top: 50px;
}
 .hero-btn
{
    
    padding: 15px 25px;
    background-color: #FFFFFF;
    border-radius: 15px;
    font-size: 1.2rem;
    font-family: Roboto, sans-serif;
    text-decoration: none;
    color: #d92950;
    font-weight:700;
    border:  2px solid white;
    text-transform: uppercase;
    margin-left: 20px;
}




.hero-btn:hover
{
    color:#FFFFFF;
    background-color:rgba(216, 0,71, 0);
}
#besoin
{
    color: white;
    text-align: center;
    margin-top: 40px;
  

}
/*logo en bas de la premiere section*/
#logo{
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin-top : 3.2%;
}
#logo img{
    width: 55px;
    opacity: 0.5;
}
/*ici commence le debut de la deuxieme section avec general1 comme classe*/
.general1
{
    display: flex;
    height: 80vh;
    width: 100vw;
    
}
#col
{
    background-color: #f1f0f3;
    width: 100vw;
}
.traiteimg
{
margin-top: 2px;
width: 33%;
}

#image1
{
width: 500px; 
border-radius: 0px 20px   20px 0px ;
margin-left: -15%;
z-index:1;
}

#image2
{
    margin-left: 195px;
    margin-top: -200px;
    width: 330px;
    border-radius: 20px;
    z-index: 2;
}

.bloc2
{
    width: 60%;
    margin-left: 120px;


}
.illustration
{
margin-top: 8%;
justify-content: space-between;
display: flex; 
flex-direction: column;

}
.illustration1, .illustration2
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    width: 80%;
    margin: auto;


}


.coco
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    font-family: 'Montserrat-Bold', sans-serif;
    font-weight: bold;
    color: #424345;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    
}

h5
{
    font-size: 40px;
    font-weight: bold;
    font-family: 'Montserrat-Bold', sans-serif;
    padding-top:10px ;
    font-weight: bold;
    color: #424345;
    padding-right: -40px;
    line-height: 1.2;
    font-size: 2.6rem;
}

#cadran1, #cadran2, #cadran3, #cadran4
{
    height: 100px;
    width: 50px;
    border-bottom:#d92950 2px solid;

}
#partenaire
{
height: 80vh;
width: 100vw;


}
#pat
{
    background-color:#d92950;
    height: 85vh;
    width: 100vw;
    display: flex;
justify-content: center;
   

}
#titrepat
{
    width: 100%;
    height: 20%;
    font: 40px;
    line-height: 58px;
    font-weight: 700;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 27px;
    padding-top:50px ;
    text-align:center;

  
    

}
#logopartenaire
{
    width:100%;
    height: 40%;
    margin-top:5% ;
    overflow: hidden;
   


}
#log
{
width: 100%;
height: 60%;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-around;




}
.imred
{
    width: 90px;

}
#sec4
{
    height: 95vh;
    width: 100vw;
    background-color: #f1f0f3;
    display: flex;
    flex-direction: column;
    align-items: center;

}
#titpro
{
    color: #180027de;
    font-family:   'Montserrat', sans-serif;
    text-align: center;
    padding-top: 10px;
    font-size: 27px;

}
#reaint
{
    width: 96vw;
    height: 60vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-top: 40px;

}
#rea
{
    margin-left: 30px;
    border-top: yellow 10px solid;
}
#int
{
    margin-right:30px;
    border-top: solid 10px #d92950 ;
}
.reaint
{
    background-color: #FFFFFF;
    width: 45%;
    height: 90%;
    font-family: 'Montserrat', sans-serif;
    color: #180027de;
    border-radius: 0px 0px 30px  30px;


}
.h3classe
{
padding-top:50px ;
font-weight: bold;
color:#d92950;
font-size: 27px;
font-family: 'Montserrat', sans-serif;
text-align: center;
}
.pclasse
{
text-align: center;
padding-top: 20px ;
height: auto;
}
.btn22
{
    margin-top: 40px;
    text-align: center;


}
.btn2
{
    background-color: #d92950;
    border-radius: 15px;
    font-size: 1.3rem;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color:#FFFFFF;
    font-weight:800;
    border:  2px solid  #d92950;
    text-transform: uppercase;
    padding: 15px 25px;
    width: 60px;

}       
.btn2:hover
{
    color:#d92950;
    background-color: white;
}
/*style section5*/
#sec5
{
    height: 130vh;
    width: 100vw;
    background-color: #d92950;
}


#tite5
{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 40px;
    color: #FFFFFF;
}


#realisation
{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 80px;



}
.realisation123
{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 25%;
    

}
.images123
{
    width: 100%;
    height: auto;
    border-radius: 15px;
    margin-bottom: 22px;

}
.designation
{
    display: flex;
    flex-direction: column;
    height: 20%;
    width: auto;

}
.site
{
    display: flex;
    justify-content: space-between;
    
}
.drapeauetpays
{
margin-left: 25px;
display: flex;
flex-direction: row;
width: 70px;
height: 18px;
border-radius: 30px 0 0 30px;
margin-top: 2px;
background-color: #FFFFFF;

}
#drapeauetpays2
{
margin-left: 25px;
display: flex;
flex-direction: row;
width: 80px;
height: 20px;
border-radius: 30px 0 0 30px;
margin-top: 2px;
background-color: #FFFFFF;
}

.designationparagraphe
{
    font-size: 12px;
    color: #FFFFFF;
    
}

.drapeau
{
    background-repeat: no-repeat;
    background-size: 30px 30px;
    border-radius: 30px 0 0 30px;
    width: 60px;

}
.pays123
{
    margin-top: 2px;
    margin-right: 20px;
    text-align: center;
    color: #ed0058;;
    width: 30px;
    font-size: 10px;
}


.reactima
{
    width: 50px;
    
}
.reactatif
{
    font-size: 10px;
    color: #FFFFFF;
    width: auto; 
    display: flex;
    font-weight: 700;
    background-color: #ed0058;
    justify-content: space-between;
    height: 20px; 
    margin-top: 30px;

}
.reactatif0
{
    font-size: 10px;
    color: #FFFFFF;
    width: auto; 
    background-color: #ed0058;
    height: 20px;
    margin-top: 20px;
    height: 20px;
    margin-top: 20px;

   
}
.siteclass
{
    color: #FFFFFF;
}

.drapeau2
{
    background-size: 30px 30px;
    border-radius: 30px 0 0 30px;
    width: 60px; 
}


/*section6*/


#sec6
{
    background-color:#FFFFFF;
    height: 120vh;
    width: 100vw;

}
#sec6general
{
margin-top: 30px;
display: flex;
flex-direction: row;
justify-content: space-around;



}
#sec6general1
{
    background-color: #f1f0f3;
    width:50%;
    height: 20%;
    margin-left: 3.8%;
    border-radius: 2px;
    border-radius: 0 0 20px 20px;


}
#tite6
{
    color: #424345;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
}
#sec6h3
{
    background-color: #d92950;
    color: #FFFFFF;
    height: 70px;
    padding-top: 10px;
    padding-left: 20px;
    font-size: 1.75rem;
    font-weight: 700;
}
#representation
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 30px;

}
.img30
{
display: flex;
flex-direction: row;
justify-content: space-evenly;
margin: 10px 0 ;


}

.langage
{
width: 15%;
text-align: center;
font-family: 'Ubuntu Mono', monospace;
color: #424345;
font-size: 1.2rem;

}
.langimg
{
    width: 50%;
     
}


#sec6general2
{
    background-color: #f1f0f3;
    width:36%;
    height: auto;
    margin-right: 3.8%;
    border-radius: 0 0 20px 20px;
    font-weight: 500;
    color: #424345;
    font-size: 1.1rem;
}
#sec6h30
{
   
    background-color:#180027de;
    color: #FFFFFF;
    height: 70px;
    padding-top: 10px;
    padding-left: 20px;
    font-size: 1.75rem;
    font-weight: 700; 
}
#rich
{
    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 84%;

}

#phil
{
padding-left: 10%;
padding-top: 10%;
width: 80%;
height: 80%;
background-color:  #dfdee1;
border-radius: 10px;
font-family: 'Ubuntu none',monospace;
line-height: 30px;

}
#sec7
{
    background-color: #ae3753 ;
    height: 90vh;
    width: 100vw; 
}
#sec7h1
{
    color: #FFFFFF;
    font-size: 2.75rem;
    text-align: center;
    font-weight: 700;   
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
   
}
#ecoute
{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 90%;
    margin-top: 20px    ;
    margin-left: 70px;
}

.mono
{
    font-family: 'Ubuntu mono', monospace;
    color: white;
    font-size: 1.2rem;
    font-weight: 700;

}
.ecoute1
{
    
    width: 20%;
    
    
}
.ecoufle
{
    flex-direction: row;
    display: flex;
    justify-content:space-between;

}
.bordure
{
    margin-left: 60px;
    border: 1px white solid;
    border-radius: 10px;
    width: 70px;
    height: 70px;
    padding-left: 20px;
    padding-top: 15px;
}
.imgecout
{

    width: 75%;
    height: auto;
    

}
.imgflx
{
    width: 15%;
    height: 10%;
    margin-right: 40px;
    margin-top: 30px;

}
#mono1
{
    font-family: 'Ubuntu mono', monospace;
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
    padding-left: 25%;
}
#appel
{

    text-align: center;
    margin-top: 140px ;
}

#appel2
{
    background-color: #d92950;
    border-radius: 15px;
    font-size: 1.3rem;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color:#FFFFFF;
    font-weight:700;
    border:  2px solid  #d92950;
    text-transform: uppercase;
    padding: 15px 25px;
    width: 60px;
}
#appel2:hover
{
    color:#FFFFFF;
    background-color:#ae3753;
    border:  2px solid  #FFFFFF;
}
#sec8
{
    height: 130vh;
    width: 100vw;
    background-color:#f1f0f3; 
    flex-direction: row;
    justify-content: space-around;  
    display: flex;
    padding-top: 150px;

}


/*sec81*/
#sec81
{
    width: 58%;
    height: auto;
    margin-left: 60px;

}

#sec81h1
{
 font-size: 2.5rem;
 font-family: 'Montserrat', sans-serif;
 line-height: 1.2;
 color: #424345;

}
.emp
{
    color:#d92950;
}
.stmm
{
    width: 60px;
}

#sec81para1
{
margin-top: 40px;
font-size: 1rem;

font-family: 'Montserrat', sans-serif;
}
#sec81para2
{
width: 100%;
margin-top:40px ;
}
/*sec82*/
#sec82
{
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    font-family: 'Montserrat', sans-serif;
}
.sec82bloc1et2
{
display: flex;
flex-direction: row;
justify-content: space-evenly;
}
.margin-bottom
{
    margin-bottom: 20px;
}
.txth3
{
font-size: 1.4rem;

}
.boite1234
{
background-color: #ffffff;
width: 45%;
height: 300px;
border-radius: 20px;
padding: 25px

}
#sec9
{
    width: 100vw;
    height: 50vh;
    background-color: #111111;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
#sec9h1
{
   font-family:'Montserrat', sans-serif ; 
   font-size: 2.5rem;
   font-weight: 700;
   line-height: 1.2;
   color: #FFFFFF;

   text-align: center;
   margin-bottom: 20px;
}


#seclogo9
{
   display: flex;
   flex-direction: row;
   width: 50%;
   justify-content: space-between;
    margin-left: 25%;
    margin-top: 20px;

}

/*section10*/

#sec10
{
    width: 100vw;
    height: 160vh;
   
    margin: 0 0;
}
.randy
{
    width: 22%;
    font-family: 'Montserrat', sans-serif;
}

#soute
{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #424345;
    width:100% ;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 3.125;
}
.ambassade
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top:35px ;
}

.presisentS10
{
display: flex;
flex-direction: row; 
justify-content:space-evenly;  
width: 100%;


}

.s101234
{
width: 100%;
border-radius: 15px;
margin-bottom: 10px;
}

#sec11
{
    width: 100vw;
    background-color:#1E1626;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto',sans-serif;
}
#sec11h1
{
    font-size: 3rem;
    text-align:center;
    font-family: 'Montserrat',sans-serif;
    font-weight: 700;
    color: #FFFFFFDE;
    
}

.sec11leformulaire
{
    
     display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    
    margin-top: 30px;
}
#mieu
{
    
    font-weight: 400;
    line-height: 3;
    font-size: 1rem;
}
.blocdoitegauche
{

    width: 45%;
    margin: 0 20px;
}
.couleur2
{
    color:  #d92950;

}

#comme
{
    font-family: 'Montserrat',sans-serif;
    font-weight: 700;
    text-align: center;
    margin-top: 35px;
}

.formulaire, .formulaire3
{
    width: 100%;
    box-sizing: border-box;
     
}

.formulaire3
{
    padding: 0 45px;
    margin: 0;
}

.input-form {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border-radius: 0;
}

.input-textarea
{
    resize: none; 
    font-family: 'Roboto', sans-serif;
    overflow-y: scroll; 
    height: 70px;
}
.suite
{
    font-family:'Montserrat', sans-serif;
    padding-top: 10px;
}
.couleur
{
    
    padding: 15px 25px;
    background-color: #d92950;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #ffffff;
    font-weight:700;

}




.couleur:hover
{
    color:#FFFFFF;
    background-color:#1E1626;
    border: 2px solid #d92950;
    
}  
.boutonner
{
    margin-top: 30px;
}
footer
{
    background-color: #2D2D2D;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    color: #FFFFFFDE;
    justify-content: space-around;

}
#lesdeux
{
    display: flex;
    
}
.omn
{
    color: white;
}
#deux1
{
    width: 75%;
}
.commun
{
    height: 60px;
}
.passe 
{
    padding-top: 40px;
}
.foot
{
    line-height: 2rem;
    font-size: 1.4rem;
    font-family: 'Roboto',sans-serif;
    margin-top: 150px;
}
.btninscrire
{
    background-color: #d92950;
    border-radius: 0 15px 15px 0;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #FFFFFFDE;
    width: 25%;
    text-align: center;
    padding-top: 15px;
    font-weight: 700;
    font-size: 16px;
    height: 58px;
    margin-top: 1px;

}

.foot2
{
margin-right: 40px;
width: 45%;
}
.foot1
{
margin-left: 50px;
}

#mentionleg
{
    color: white;
}
.mention
{
padding-top: 40%;
font-weight: 700;
font-size: 16px; 
  
}

/* la deuxieme page*/
#ungrandtitre
{
    color: #111;
    font-family:  'Montserrat', sans-serif; 
    font-weight: 700;
    font-size: 2.5rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    text-align: center;
}
.sasa 
{
display: flex;
justify-content: space-around;
flex-direction: row;
height: 75vh;
margin-top: 100px;

}
.sasa1
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 30%;
    text-align: justify;
    margin-left: 65px;

}
.indif
{
    font-size: 1.3rem;
}
.sasa2
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 60%;  
    height: 80%;
    text-align: justify;
    margin-right: 40px;
    line-height: 30px;
    
}
.lelien
{
    color:#d92950;
    font-family: 'Roboto',sans-serif;
    font-weight: 700;

}
.postuler
{
    margin-top: 50px;
}

.sa1 
{
    background-color:#f1f0f3;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 35px;
    border-radius: 10px;
    padding-top: 30px;
    padding-left: 20px;
} 
.sa2
{
    background-color:#f1f0f3;
    height: 48%;
    width: 46%;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 35px;
    border-radius: 10px;
    padding-top: 30px;
    padding-left: 20px;

}