@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 300;
    src: url(https://fonts.gstatic.com/s/montserrat/v15/JTUPjIg1_i6t8kCHKm459WxZYgzz_PZ1.ttf) format('truetype');
}
@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/montserrat/v15/JTUQjIg1_i6t8kCHKm459WxRyS7j.ttf) format('truetype');
}
@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 600;
    src: url(https://fonts.gstatic.com/s/montserrat/v15/JTUPjIg1_i6t8kCHKm459WxZFgrz_PZ1.ttf) format('truetype');
}
@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/montserrat/v15/JTUPjIg1_i6t8kCHKm459WxZcgvz_PZ1.ttf) format('truetype');
}
@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 900;
    src: url(https://fonts.gstatic.com/s/montserrat/v15/JTUPjIg1_i6t8kCHKm459WxZSgnz_PZ1.ttf) format('truetype');
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_cJD3gnD-w.ttf) format('truetype');
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/montserrat/v15/JTUSjIg1_i6t8kCHKm459Wlhzg.ttf) format('truetype');
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_bZF3gnD-w.ttf) format('truetype');
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_dJE3gnD-w.ttf) format('truetype');
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_epG3gnD-w.ttf) format('truetype');
}
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    src: url(https://fonts.gstatic.com/s/roboto/v20/KFOjCnqEu92Fr1Mu51TjASc6CsE.ttf) format('truetype');
}
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/roboto/v20/KFOkCnqEu92Fr1Mu51xIIzc.ttf) format('truetype');
}
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/roboto/v20/KFOjCnqEu92Fr1Mu51TzBic6CsE.ttf) format('truetype');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fBBc9.ttf) format('truetype');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfBBc9.ttf) format('truetype');
}
@font-face {
    font-family: 'Ubuntu Mono';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/ubuntumono/v10/KFOjCneDtsqEr0keqCMhbCc6CsE.ttf) format('truetype');
}
@font-face {
    font-family: 'Ubuntu Mono';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/ubuntumono/v10/KFO-CneDtsqEr0keqCMhbC-BL9H1tYg.ttf) format('truetype');
}
*
{
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
}
body {
    
    font-weight: 400;
    line-height: 1.5;
    color: rgba(24,0,39,.87);
    text-align: left;
    font-family: Roboto, sans-serif;
    overflow-x: hidden;
}

li{
    list-style: none;

}
a{
    text-decoration: none;

}
section
{
    padding:100px 0;
}

header
{
    background-color:#d92950;
    position: fixed;
    width: 100%;
    z-index: 99999;
}
.navbar
{
    background-color: #d22950;
display: flex;
align-items: center;
justify-content: space-between;
}
.navbar-logo
{
    display: inline-block;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-left: 1rem;
    font-size: 1.25rem;

}
.navbar-logo img
{
    width: 80px;
    height: 46px;
    max-width: 100%;
    background: no-repeat 50%/50% 50%;

}
.menu-content
{
    display: flex;

}
.navbar .nav-item
{
    margin: 0 30px 0 0;
}
.navbar .nav-item .nav-link
{
    transition: all 0.3s linear;
    font-size: 1rem;
    color: #fff;
    font-weight: 600;
    padding: 0;
    margin: 0 .5rem;
   border-bottom: 2px solid transparent;
    border-radius: 2px;
}
#sec1
{
    margin: 0;
    padding-bottom: 20vh;
    background: url("images/hero-background.jpg") top no-repeat ;
    background-size: cover;
    background-attachment: scroll;
    padding-top: 100px;
 
 
}

.row1
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.full-width
{
    max-width: 100%;
}
.general .row1 h1
{
    font-size: 5.5vw;
    font-family: Montserrat, sans-serif;
    font-weight: 900;
    text-align: center;
    color: #fff;
}



/*pour tous les elements qui doivent etre en ligne*/
.ligne
{
    display: flex;
    flex-direction: row; 
}
/*pour le naviagteur ou se trouve le logo et l'accueil et autres et la couleur et la disposition*/

/*la premiere section l'arriere plan et centralisation*/


/*pour le titre de la premiere page*/

/*la couleur de de mot qualité*/
#dev
{
    color: #ffe64d;
    text-transform: uppercase;
}
/*traitement pour les boutons en dessous du titre h1*/ 

.general ul 
{
    list-style: none;
    text-transform: uppercase;
}

.btn{
    margin-top: 50px;
}
 .hero-btn
{
    
    padding: 15px 25px;
    background-color: #FFFFFF;
    border-radius: 15px;
    font-size: 1.2rem;
    font-family: Roboto, sans-serif;
    text-decoration: none;
    color: #d92950;
    font-weight:700;
    border: solid 2px white
}




.general ul a:hover
{
    color:#FFFFFF;
    background-color:rgba(216, 0,71, 0);
}
#besoin
{
    color: white;
    text-align: center;
    margin-top: 40px;

}
/*logo en bas de la premiere section*/
#logo{
    display: flex;
    justify-content: space-around;
    width: 85%;
    margin-top : 3.2%;
}
#logo img{
    width: 55px;
    opacity: 0.5;
}
/*ici commence le debut de la deuxieme section avec general1 comme classe*/
.general1
{
    display: flex;
    height: 100vh;
    width: 100vw;
}
.traiteimg
{
margin-top: 100px;
width: 40%;
}

#image1
{
width: 500px; 
border-radius: 0px 20px   20px 0px ;
margin-left: -5.5%;
z-index:1;
}

#image2
{
    margin-left: -10%;
    margin-bottom: -50px;
    width: 340px;
    border-radius: 20px;
    z-index: 2;
}

.bloc2
{
    width: 60%;


}
.illustration
{
margin-top: 8%;
justify-content: space-between;
display: flex; 
flex-direction: column;

}
.illustration1, .illustration2
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    width: 80%;
    margin: auto;


}


.coco
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    font-family: 'montserrat-Bold', sans-serif;

    color: #424345;

    
}

h5
{
    font-size: 40px;
    
    font-weight: bold;
    font-family: 'montserrat-Bold', sans-serif;
    padding-top:10px ;
    font-weight: bold;
    color: #424345;
    
}

#cadran1, #cadran2, #cadran3, #cadran4
{
    height: 100px;
    width: 50px;
    border-bottom:#d92950 2px solid;

    
}




